body{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    height:100vh;
    position:relative;
}
#ttt{
    height:40px;
    width:40px;
    border-radius: 50%;
}
.header{
    background-color:black;
    color:white;
    font-size:32px;
    width:100vw;
    display:flex;
    gap:16px;
    justify-content: center;
    align-items: center;
    height:8rem;
}
.footer{
    background-color:black;
    color:white;
    font-size:32px;
    width:100vw;
    display:flex;
    gap:16px;
    justify-content: center;
    align-items: center;
    height:8rem;
}
#git{
    height:40px;
    width:40px;
    border-radius: 50%;
}
.choose-wrapper{
    position:relative;
    bottom:80px;
    display: flex;
    font-size: 32px;
    gap:2rem;
    color:blue;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.choose{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.two-player{
    display: flex;
    flex-direction: column;
    height:100px;
    width:100px;
}
#two{
height:80px;
width:80px;
}
.single-player{
    display: flex;
    flex-direction: column;
    height:100px;
    width:100px;
}
#one{
height:80px;
width:80px;
}
#details{
    background-color: green;
    position: absolute;
    top:290px;
    left:80px;
    color: white;
    font-size: 16px;
    border:3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:16px;

}
.input-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input,select{
width:50%;
}
#details:empty{
    display: none;
}

